#tableOversiktKlasser tr td:nth-child(3) {
    padding-right: 5px;
}

#tableOversiktKlasser tr td:nth-child(4) {
    padding-left: 5px;
}

td {
    max-width: 550px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.modalFooter p {
    float: right;
    margin: 0px;
}

#divBtnLeggTil {
    width: 100%;
}

#divBtnLeggTil p {
    float: left;
}

#ikke_vis_varsel {
    width: auto;
}

footer label {
    padding-right: 3px;
}