body {
    overflow: overlay;
}

.row > * {
    margin: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    opacity: 1 !important;
}

#innstillinger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 16px;
}

input {
    width: 10%;
}

#inputrad {
    width: 585px;
}

#input {
    justify-content: left;
    width: 41%;
}

#antall_elever {
    width: 140px;
    font-size: 72px;
    text-align: center;
    margin: 0;
}

#trekk {
    width: 50%;
}

#inputrad > p {
    text-align: left;
}

#btn_elever  {
    width: 50%;
    margin: 0;
}

#linje {
    color: var(--grayColor);
    width: 60%;
}

#klasse_bunke {
    justify-content: center;
    font-size: 32px;
    width: 600px;
}

#klasse_bunke > * {
    width: 33.33%;
}

#klasse {
    text-align: right;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#elevantall {
    color: #bbb;
}

#kortbunke {
    display: flex;
    justify-content: center;
}

#bunkekort {
    background-color: var(--headerColor);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 60px;
    width: 100px;
    height: 152px;
    user-select: none;
    transition: background-color 0.25s;
}

#bunkekort:hover {
    cursor: pointer;
    background-color: #6c95b3;
}

.elevkort {
    background-color: var(--lightColor);
    position: absolute;
    padding: 0 4px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 28px;
    text-align: center;
    width: 144px;
    height: 100px;
    transition: transform 0.9s, opacity 0.4s, left 0.9s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 100px;
    margin-bottom: 32px;
}

#nytt_trekk {
    margin-top: 20px;
}

.disabled {
    background-color: #6c95b3 !important; 
    pointer-events: none;
}

.tom {
    background-color: transparent !important;
    border-style: dashed !important;
    color: black !important;
    font-size: 24px !important;
    z-index: -100 !important;
}

.full {
    background-color: var(--headerColor);
    border-style: solid;
    color: white;
    font-size: 60px;
    z-index: 100;
}

.innstillinger {
    margin: 4px 0;
}