
.elevDiv {
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    width: 198px;
    word-wrap: break-word;
    cursor: pointer;
    transition: 300ms;
}

.green {
    border: 3px solid #02B345;
    background-color: #02b3451f;
}

.red {
    border: 3px solid #ff4136;
    background-color: #ff413626;
}

p {
    text-align: center;
}

#elevListe {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-bottom: 25px;
    width: 100vw;
}

#fravaerBtn {
    width: 50%;
}