
.elevDiv {
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 30px;
    border-radius: 15px;
    width: 198px;
    word-wrap: break-word;
    cursor: pointer;
    transition: 300ms;
}

.green {
    border: 3px solid green;
    background-color: #d6fdd6;
}

.red {
    border: 3px solid red;
    background-color: #ffdbdb;
}

p {
    text-align: center;
}

.btnFravaer {
    border: none;   
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 15px;
}

.btnSubmit {
    border: none;   
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--linkColor);
    color: white;
    border-radius: 15px;
    width: 98%;
    transition: 0.5s;
}

.btnSubmit:hover {
    background-color: var(--lightColor);
    color: black;
}

#elevListe {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-bottom: 25px;
    width: 120%;
}

/* main {
    padding: 15px;
    min-height: calc(100vh - 56px);
    margin: 0 auto -250px;
} */

footer { /*Verdi for footer*/
    background: linear-gradient(to bottom, #343a40 0%, #24211d 100%);
    height: 250px;
    width: 100%;
    text-align: center;
    padding: 45px;
}

footer .row>div a, footer .row>div p { /*Verdiene til skriften i footer*/
    font-size: 1.25rem;
    color: #f1f1f1;
    text-decoration: none;
}