body {
    padding-bottom: 0px;
}

#btnUserSubmit {
    cursor: not-allowed;
    margin: 16px;
}

.printaGrupper {
    color: var(--headerColor);
    font-weight: bold;
}

#bare_tilstedevaerende {
    width: auto;
}

#btnSubmit {
    display: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 24px;
}

li {
    padding-bottom: 15px;
    transform: translateY(-100%);
    transition: transform 1s, opacity 1.5s;
    opacity: 0;
    word-break: break-word;
}

.show {
    opacity: 1;
    transform: translateY(0%);
}