button.elev {
    width: 100px;
    height: 40px;
    font-size: 11pt;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td, tr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

th {
  border: 0;
}