button.elev {
    width: 100px;
    height: 40px;
    font-size: 11pt;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td, tr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

th {
  border: 0;
}

.modalInputArea select{
  width: calc(100% - 32px);
  padding: 10px 15px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}