/* main.css: stilark for generelle egenskaper (farger, fonts, størrelser, skygger etc.) */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundColor);

  animation: fadeNyside 0.2s ease-in-out;
}

@keyframes fadeNyside {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  color: var(--darkColor);
}

textarea {
  resize: vertical;
}

label {
  color: var(--darkColor);
}

label:hover, label input:hover{
  cursor: pointer;
}

/* Hvordan bruke variabler i CSS. :root gir global scope, variablene kan da brukes i alle css-filer */
:root {
  --backgroundColor: #e6e5ec;
  --headerColor: #557a95;
  --linkColor: #7395ae;
  --darkColor: #5d5c61;
  --lightColor: #9ac7e7;
  --grayColor: #a19fa7;
  --red: #ff4136;
}

.header h1 {
  color: var(--headerColor);
  font-size: 50px;
  margin: 0px;
  max-width: 550px;
  text-align: center;
  overflow-wrap: anywhere;
}


.header img {
  height: 40px;
}

.header hr {
  width: 100%;
  margin: 30px 0px;
}

.header p {
  font-size: 0pt;
  margin: 0; 
  margin-left: 16%;
  opacity: 0;
}


a {
  color: var(--linkColor);
}


.btn {
  background-color: #1D6BB3;
  color: var(--darkColor);
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-weight: 500;
  color: white;
  border: 1px solid rgba(0,0,0,.12);
  transition: 250ms;
  user-select: none;
}

.btn:hover {
  background-color: #2d7dc7;
}

.btn-danger {
  background-color: #ff4136;
}

.btn-danger:hover {
  background-color: #FF584F;
}

.btn-success {
  background-color: #02B345;
}

.btn-success:hover {
  background-color: #0fc755;
}

.btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}

hr {
  width: 100%;
}

.modal {    
  display: none;
  position: fixed;
  z-index: 999 !important;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 100px);
  background-color: rgba(0,0,0,0.5);
  overflow-y: auto;
}

.modalContent {
  position: relative;
  background-color: #eee;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.35);
  animation: modalSlideIn 0.5s;
  min-width: 650px;
}

@keyframes modalSlideIn {
  0% {top: -100%; opacity: 0}
  100% {top: 0; opacity: 1}
}

.modalClose {
  color: var(--backgroundColor);
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 25px;
  transition: 0.25s;
}

.modalClose:hover {
  color: #ff4136;
  cursor: pointer;
}

.modalHeader {
  padding: 2px 16px;
  background-color: var(--headerColor);
  color: var(--backgroundColor);
  font-size: 20px;
}

#modalHeaderText {
  margin: 15px 0px;
}

.modalBody {
  padding: 16px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--backgroundColor);
}

.modalFooter {
    padding: 10px;
    overflow: auto;
    background-color: #cfd6dc;
}

.modalDescription, .modalInputArea {
    width: 100%;
}

.modalInputArea p {
    margin-bottom: 5px;
    font-weight: 500;
}

input, textarea {
    width: calc(100% - 32px);
    padding: 10px 15px;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.modal-warning {
  width: 40%;
  min-width: 550px;
  margin-top: 20px;
}

.modal-warning .modalBody {
  padding: 0;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--backgroundColor);
}

.utvikler {
  width: calc(100% / 3);
  text-align: center;
  min-width: 210px;
}

.imgProfil {
  width: 200px;
  border-radius: 250px;
  border: 3px solid var(--darkColor);
}

h3, h4 {
  color: var(--darkColor);
}

.hrU {
  width: 85%;
}

.imgMail {
  width: 20px;
  vertical-align: middle;
}

.ePost {
  font-weight: 500;
  text-decoration: none;
  color: var(--darkColor);
  transition: 0.4s;
}

.ePost:hover {
  animation: AniEpost 2s infinite;
}

@keyframes AniEpost {
  0% {color: #ff0000;}
  14.3% {color: #f59f00;}
  28.6% {color: gold;}
  42.9% {color: #008000;}
  57.2% {color: #0000ff;}
  71.5% {color: #4b0082;}
  85.8% {color: #ee82ee;}
}

.ansvarsomraade h4 {
  margin-bottom: 5px;
}

.ansvarsomraade ul {
  list-style: none;
  padding: 0px;
}

.ansvarsomraade ul li {
  color: var(--darkColor);
  font-weight: 500;
}

#sventakk {
  font-weight: 500;
  text-align: center;
}

.card {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  min-width: 500px;
  cursor: pointer;
  transition: box-shadow 200ms linear;
  margin-bottom: 20px;
  overflow: auto;
}

.card:hover {
  box-shadow: 0 1px 3px 1px rgb(66 66 66 / 20%), 0 2px 8px 4px rgb(66 66 66 / 10%);
}

.card h2 {
  margin: 0px;
  color: var(--headerColor);
  font-weight: 500;
}

.card p {
  margin: 0px;
  color: var(--darkColor);
}

.card .textArea { 
  float: left;
  pointer-events: none;
  max-width: 560px;
}

.card .arrowRight {
  float: right;
  height: 25px;
  padding-top: 14px;
  pointer-events: none;
}

.card .arrowRight img {
  height: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--headerColor);
}

::-webkit-scrollbar-thumb {
  background: var(--darkColor);
  border-radius: 25px;
}

.back {
  height: 75px;
  width: 85px;
  padding-left: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: 200ms;
}

.back:hover {
  padding-left: 10px;
  width: 100px;
}

.back img {
  height: 100%;
}

#adminTable {
  width: 100%;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
}

#adminTable table {
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
}

#adminTable thead tr{
  height: 56px;
}

#adminTable tbody tr{
  border-top: 1px solid var(--backgroundColor);
  height: 52px;
}

#adminTable th {
  color: var(--headerColor);
}

th, td {
  padding: 0px 26px;
  text-align: initial;
  color: var(--darkColor);
}

#adminTable #thCenter {
  text-align: center;
}

.row, .col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column;
}

#nedtelling_ikon {
  width: 60px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: 200ms;
}

#nedtelling_ikon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Animasjon ved fullført endring (checkmark + tekst)*/

#div_fullfort_endring {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 983;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: top left;
}

#melding_fullfort_endring {
  color: white;
  font-size: 15pt;
}

.svg_checkmark {
  width: 125px;
  display: block;
  margin: 40px auto 0;
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
.path.circle {
  animation: dash 0.9s ease-in-out;
}
.path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% {
      stroke-dashoffset: 1000;
  }
  100% {
      stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
      stroke-dashoffset: -100;
  }
  100% {
      stroke-dashoffset: 900;
  }
}

.div_fullfort_endring_fade {
  animation: fadeUt 1s forwards;
  animation-delay: 2.5s;
}

@keyframes fadeUt {
  0% {opacity: 1; transform: scale(1) translate(-50%,-50%);}
  50% {opacity: 0.5; transform: scale(1.5) translate(-50%,-50%);}
  100% {opacity: 0; transform: scale(0) translate(-50%,-50%);}
}

#div_skygge {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 512;
}

.class_animasjon_skygge {
  animation: animasjon_skygge 3.5s forwards;
}

@keyframes animasjon_skygge {
  0% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.shade {
  display: none;
  position: fixed;
  z-index: 999 !important;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.body {
  animation: modalSlideIn 0.5s;
  margin-left: calc(50vw - 193px);
  margin-top: 100px;
}

.body .surface {
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  max-height: 400px;
  min-width: 240px;
  max-width: 385px;
  border-radius: 4px;
  background-color: white;
}

.body .surface h2 {
  display: block;
  margin-top: 0;
  line-height: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 24px;
  border-bottom: 1px solid transparent;
  color: var(--headerColor);
}

.body .surface div {
  padding-top: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  text-decoration: inherit;
  text-transform: inherit;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0px 24px;
  overflow: auto;
  color: var(--darkColor);
}

.body .surface footer {
  display: flex;
  position: relative;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 52px;
  margin: 0;
  padding: 8px;
  border-top: 1px solid transparent;
}

.body .surface footer p {
  margin: 8px;
}

.pointer:hover {
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 47px;
  height: 20px;
  margin-left: 10px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--linkColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--linkColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*  */
/* Tooltip container */
/*  */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 50%;
  margin-left: -165px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #555 transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 