/* main.css: stilark for generelle egenskaper (farger, fonts, størrelser, skygger etc.) */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundColor);
}

p {
  color: var(--darkColor);
}

/* Hvordan bruke variabler i CSS. :root gir global scope, variablene kan da brukes i alle css-filer */
:root {
  --backgroundColor: #e6e5ec;
  --headerColor: #557a95;
  --linkColor: #7395ae;
  --darkColor: #5d5c61;
  --lightColor: #9ac7e7;
}

.header h1 {
  color: var(--headerColor);
  font-size: 50px;
  margin: 0px;
}


.header img {
  height: 40px;
}

.header hr {
  width: 100%;
  margin: 30px 0px;
}

.header p {
  font-size: 0pt;
  margin: 0; 
  margin-left: 16%;
  opacity: 0;
}


a {
  color: var(--linkColor);
}

/* button {
  background-color: var(--headerColor);
  border: none;
  color: var(--backgroundColor);
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 25px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */
.btn {
  background-color: #1D6BB3;
  color: var(--darkColor);
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-weight: 500;
  color: white;
  border: 1px solid rgba(0,0,0,.12);
  transition: 250ms;
}

.btn:hover {
  background-color: #2d7dc7;
}

.btn-danger {
  background-color: #ff4136;
}

.btn-danger:hover {
  background-color: #FF584F;
}

.btn-success {
  background-color: #02B345;
}

.btn-success:hover {
  background-color: #0fc755;
}

hr {
  width: 100%;
}

#option {
  width: 50px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: 200ms;
}

#option:hover {
  transform: scale(1.2);
}

#BtnOpenModal {
  width: 50px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition: 200ms;
}

#BtnOpenModal:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.modal {    
  display: none;
  position: fixed;
  z-index: 999 !important;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modalContent {
  position: relative;
  background-color: #eee;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.35);
  animation: modalSlideIn 0.75s;
  min-width: 650px;
}

@keyframes modalSlideIn {
  0% {top: -100%; opacity: 0}
  100% {top: 0; opacity: 1}
}

.modalClose {
  color: var(--backgroundColor);
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 25px;
  transition: 0.25s;
}

.modalClose:hover {
  color: #ff4136;
  cursor: pointer;
}

.modalHeader {
  padding: 2px 16px;
  background-color: var(--headerColor);
  color: var(--backgroundColor);
  font-size: 20px;
}

#modalHeaderText {
  margin: 15px 0px;
}

.modalBody {
  padding: 16px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--backgroundColor);
}

.utvikler {
  width: calc(100% / 3);
  text-align: center;
  min-width: 210px;
}

.imgProfil {
  width: 200px;
  border-radius: 250px;
  border: 3px solid var(--darkColor);
}

h3, h4 {
  color: var(--darkColor);
}

.hrU {
  width: 85%;
}

.imgMail {
  width: 20px;
  vertical-align: middle;
}

.ePost {
  font-weight: 500;
  text-decoration: none;
  color: var(--darkColor);
  transition: 0.4s;
}

.ePost:hover {
  animation: AniEpost 2s infinite;
}

@keyframes AniEpost {
  0% {color: #ff0000;}
  14.3% {color: #f59f00;}
  28.6% {color: gold;}
  42.9% {color: #008000;}
  57.2% {color: #0000ff;}
  71.5% {color: #4b0082;}
  85.8% {color: #ee82ee;}
}

.ansvarsomraade h4 {
  margin-bottom: 5px;
}

.ansvarsomraade ul {
  list-style: none;
  padding: 0px;
}

.ansvarsomraade ul li {
  color: var(--darkColor);
  font-weight: 500;
}

.card {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  min-width: 500px;
  cursor: pointer;
  transition: box-shadow 200ms linear;
  margin-bottom: 20px;
  overflow: auto;
}

.card:hover {
  box-shadow: 0 1px 3px 1px rgb(66 66 66 / 20%), 0 2px 8px 4px rgb(66 66 66 / 10%);
}

.card h2 {
  margin: 0px;
  color: var(--headerColor);
  font-weight: 500;
}

.card p {
  margin: 0px;
  color: var(--darkColor);
}

.card .textArea { 
  float: left;
  pointer-events: none;
}

.card .arrowRight {
  float: right;
  height: 25px;
  padding-top: 14px;
  pointer-events: none;
}

.card .arrowRight img {
  height: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--headerColor);
}

::-webkit-scrollbar-thumb {
  background: var(--darkColor);
  border-radius: 25px;
}

.back {
  height: 75px;
  width: 85px;
  padding-left: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: 200ms;
}

.back:hover {
  padding-left: 10px;
  width: 100px;
}

.back img {
  height: 100%;
}

#adminTable {
  width: 100%;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
}

#adminTable table {
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: auto;
  border-collapse: collapse;
  width: 100%;
}

#adminTable thead tr{
  height: 56px;
}

#adminTable tbody tr{
  border-top: 1px solid var(--backgroundColor);
  height: 52px;
}

#adminTable th {
  color: var(--headerColor);
}

th, td {
  padding: 0px 26px;
  text-align: initial;
  color: var(--darkColor);
}

#adminTable #thCenter {
  text-align: center;
}

#loadOverlay {
  display: none;
}