/* main.css: stilark for generelle egenskaper (farger, fonts, størrelser, skygger etc.) */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--backgroundColor);
}

/* Hvordan bruke variabler i CSS. :root gir global scope, variablene kan da brukes i alle css-filer */
:root {
  --backgroundColor: #e6e5ec;
  --headerColor: #557a95;
  --linkColor: #7395ae;
  --darkColor: #5d5c61;
  --lightColor: #9ac7e7;
}

.header h1 {
  color: var(--headerColor);
  font-size: 50px;
  margin: 0px;
}


.header img {
  height: 40px;
}

.header hr {
  margin: 30px 0px;
}


a {
  color: var(--linkColor);
}

button {
  background-color: var(--headerColor);
  border: none;
  color: var(--backgroundColor);
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 25px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

hr {
  width: 100%;
}

table ,th, td {
  border: 1px solid var(--darkColor);
  border-collapse: collapse;  
}

th, td {
  padding: 10px;
  text-align: left;
  font-weight: normal;
}

tr:nth-child(odd) {
  background-color: var(--lightColor);
}

#option {
  width: 50px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#BtnOpenModal {
  width: 50px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#BtnOpenModal:hover {
  cursor: pointer;
}

.modal {    
  display: none;
  position: fixed;
  z-index: 999 !important;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modalContent {
  position: relative;
  background-color: #eee;
  margin: auto;
  padding: 0;
  width: 50%;
  box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.35);
  animation: modalSlideIn 0.75s;
  min-width: 650px;
}

@keyframes modalSlideIn {
  0% {top: -100%; opacity: 0}
  100% {top: 0; opacity: 1}
}

.modalClose {
  color: var(--backgroundColor);
  float: right;
  font-size: 28px;
  font-weight: bold;
  height: 25px;
  transition: 0.25s;
}

.modalClose:hover {
  color: #ff4136;
  cursor: pointer;
}

.modalHeader {
  padding: 2px 16px;
  background-color: var(--headerColor);
  color: var(--backgroundColor);
  font-size: 20px;
}

#modalHeaderText {
  margin: 15px 0px;
}

.modalBody {
  padding: 16px;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: space-around;
}

.utvikler {
  width: calc(100% / 3);
  text-align: center;
  min-width: 210px;
}

.imgProfil {
  width: 200px;
  border-radius: 250px;
  border: 3px solid var(--darkColor);
}

h3, h4 {
  color: var(--darkColor);
}

.hrU {
  width: 85%;
}

.imgMail {
  width: 20px;
  vertical-align: middle;
}

.ePost {
  font-weight: 500;
  text-decoration: none;
  color: var(--darkColor);
  transition: 0.4s;
}

.ePost:hover {
  animation: AniEpost 2s infinite;
}

@keyframes AniEpost {
  0% {color: #ff0000;}
  14.3% {color: #f59f00;}
  28.6% {color: gold;}
  42.9% {color: #008000;}
  57.2% {color: #0000ff;}
  71.5% {color: #4b0082;}
  85.8% {color: #ee82ee;}
}

.ansvarsomraade h4 {
  margin-bottom: 5px;
}

.ansvarsomraade ul {
  list-style: none;
  padding: 0px;
}

.ansvarsomraade ul li {
  color: var(--darkColor);
  font-weight: 500;
}

.card {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  min-width: 500px;
  cursor: pointer;
  transition: box-shadow 200ms linear;
  margin-bottom: 20px;
  overflow: auto;
}

.card:hover {
  box-shadow: 0 1px 3px 1px rgb(66 66 66 / 20%), 0 2px 8px 4px rgb(66 66 66 / 10%);
}

.card h2 {
  margin: 0px;
  color: var(--headerColor);
  font-weight: 500;
}

.card p {
  margin: 0px;
  color: var(--darkColor);
}

.card .textArea {
  float: left;
}

.card .arrowRight {
  float: right;
  height: 25px;
  padding-top: 14px;
}

.card .arrowRight img {
  height: 25px;
}