input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#knapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

input {   
    width: 80px;
    font-size: 72px;
    text-align: center;
}

#minus {
    font-size: 60px;
    color: var(--red);
}

.btn {
    margin: 8px;
}

#nedteller {
    justify-content: center;
    align-items: baseline;
    width: 330px;
}
#nedteller > span {
    width: 25px;
    display: flex;
    margin-left: 5px;
}

#klokke {
    margin-bottom: 16px;
}

#null {
    color: var(--headerColor);
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}