input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input {   
    width: 80px;
    font-size: 72px;
    text-align: center;
}

#minus {
    font-size: 60px;
    color: var(--red);
}

.btn {
    margin: 8px;
}

#nedteller {
    justify-content: center;
    align-items: baseline;
    width: 330px;
    margin-bottom: 16px;
}
#nedteller > span {
    width: 25px;
    display: flex;
    margin-left: 5px;
}

#klokke {
    margin: 20px 0px;
    background-color: white;
    border-radius: 69420px;
    border: 2px solid var(--headerColor);
}

#null {
    color: var(--headerColor);
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.header hr {
    margin-bottom: 4px;
}

#veksle_start_stopp {
    width: 70px;
}