input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input {   
    width: 80px;
    font-size: 72px;
    text-align: center;
}

#minus {
    font-size: 72px;
    color: red;
}

.btn {
    margin: 8px;
}